body{
    font-family: 'Lora', serif;
    background-image: url('../../Assets/wowmap.png');
    background-size: cover;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    background-color: lightgoldenrodyellow;
}


.header{
    background-color: maroon;
    border: black 2px solid;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.token{
    height: 100px;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgoldenrodyellow;
    border: black 2px solid;
    border-radius: 25px;
    width: 40%;
    flex-wrap: wrap;
    padding-top: 5%;
}

.flag{
    width: 40%;
}


/* #smallHeader{
    font-size: large;
}

#largeHeader{
    font-size: larger;
} */